.email-form {
	input {
		max-width: 200px;
		height: 40px;
		background-color: #ffffff;
		padding: 0 0 0 15px;
		margin: 40px 0 35px 0;
		outline: none;
		border: none;
	}
	button {
		position: relative;
		right: 5px;
		width: 50px;
		height: 40px;
		background: #009bff;
		outline: none;
		border: none;
		.fa {
			color: $secondary_font_color;
			font-size: 15px;
		}
	}
}