.about {
	background: $secondary_font_color;

	.about-box {
		padding: 80px 0;
		background: #ececec;
		width: 100%;
		min-height: 890px;
		&:after {
			width: 0;
			height: 0;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-top: 100px solid #ececec;
		}

	}
	.flexbox {
		padding-top: 80px;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		text-align: center;
	}
	h3 {
		color: #333333;
		font: 700 20px/28px $secondary_font;
		text-transform: uppercase;
	}
	p {padding: 30px 0 45px 0;}
	.service-img {
		background: url('../../img/polygon-1.png'), url('../../img/SVG/gear.svg');
	}
}