.about {
	&:after {
		content: ' ';
		display: block;
		width: 0;
		height: 0;
		border-left: 50vw solid transparent;
		border-top: 10vw solid #ececec;
		border-right: 50vw solid transparent;
	}
	.about-box {
		padding: 80px 0;
		background: #ececec;
		width: 100%;
		min-height: 700px;
	}
	.main-flexbox {
		padding-top: 120px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
		text-align: center;
		.col-1, .col-2, .col-3 {
			width: 320px;
			display: flex;
			flex-flow: column wrap;
			.box-1 {
				margin-bottom: 80px;
				order: 1;
			}
		}
	}
	h3 {
		color: #333333;
		font: 700 20px/28px $secondary_font;
		text-transform: uppercase;
	}
	p {padding: 30px 0 45px 0;}
	.service-img {
		width: 135px;
		margin: 45px auto 0 auto;
		height: 80px;
		background: #ffcc00;
		position: relative;
		left: 0;
		bottom: 50px;

		.overlay-box-1 {
			width: 135px;
			height: 80px;
			background: #ffcc00;
			transform: rotate(-60deg);

			.overlay-box-2 {
				width: 135px;
				height: 80px;
				background: #ffcc00;
				transform: rotate(120deg);
			}
		}
	}
}
.box-img-1 {
	&:after {
		content: '';
		position: relative;
		width: 50px;
		margin: 0 auto;
		bottom: 60px;
		height: 50px;
		display: block;
		background: url('../../img/SVG/gear.svg');
		z-index: 10;
	}
}
.box-img-2 {
	&:after {
		content: '';
		position: relative;
		width: 50px;
		margin: 0 auto;
		bottom: 60px;
		height: 50px;
		display: block;
		background: url('../../img/SVG/bulb.svg');
		z-index: 10;
	}
}
.box-img-3 {
	&:after {
		content: '';
		position: relative;
		width: 50px;
		margin: 0 auto;
		bottom: 60px;
		height: 50px;
		display: block;
		background: url('../../img/SVG/sand-clock.svg');
		z-index: 10;
	}
}